---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p>Welcome to my site. <a href="/about">I'm Adrià</a>. I write things here sometimes.<p>

<p>You can check <a href="/posts">all my posts here</a> or read through <a href="/old-stuff">my
oder stuff, from years ago</a>.<p>

<p>Here are my latest posts for quick access:</p>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}
